form {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form input {
  border-radius: 3px;
  width: 200px;
  height: 20px;
  border: 2px solid black;
  margin: 10px;
}

form button {
  width: 60px;
  text-transform: uppercase;
  background-color: transparent;
  text-align: center;
}
